<mat-form-field appearance="outline" class="w-full app-form-input">
  <mat-label>{{ label }}</mat-label>

  @if (prefixIcon) {
    <mat-icon matIconPrefix>{{ prefixIcon }}</mat-icon>
  }

  @if (prefix) {
    <span matTextPrefix>{{ prefix }}&nbsp;</span>
  }

  @if (!multiline) {
    <input
      matInput
      [type]="inputType"
      [placeholder]="placeholder"
      [formControl]="formControl!"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [readonly]="readonly"
      [required]="required"
      [attr.maxlength]="maxLength"
      [attr.minlength]="minLength">
  } @else {
    <textarea
      matInput
      [placeholder]="placeholder"
      [formControl]="formControl!"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [readonly]="readonly"
      [required]="required"
      [attr.maxlength]="maxLength"
      [attr.minlength]="minLength"
      [rows]="rows || 3">
    </textarea>
  }

  @if (suffix) {
    <span matTextSuffix>&nbsp;{{ suffix }}</span>
  }

  @if (suffixIcon) {
    <mat-icon matIconSuffix>{{ suffixIcon }}</mat-icon>
  }

  @if (type === 'password') {
    <mat-icon matIconSuffix class="cursor-pointer" (click)="togglePassword()">
      {{ passwordIcon }}
    </mat-icon>
  }

  @if (hint && !shouldShowError) {
    <mat-hint>{{ hint }}</mat-hint>
  }

  @if (shouldShowError && errorMessage) {
    <mat-error>{{ errorMessage }}</mat-error>
  }
</mat-form-field>
