<section class="ck-editor">
  <div class="main-container">
    <div class="editor-container editor-container_classic-editor editor-container_include-block-toolbar" #editorContainerElement>
      <div class="editor-container__editor">
        <div #editorElement>
          @if(isLayoutReady) {
          <ckeditor [editor]="Editor" [config]="config" (ready)="onEditorReady($event)" (change)="onEditorChange($event)" />
          }
        </div>

        <div class="ck ck-word-count" [class.ck-word-count--exceeded]="isExceedingLimit()">
          <div class="ck-word-count__characters">{{ charactersCount() }} / {{ maxLength }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
