@use '@angular/material' as mat;

mat-card {
  @include mat.card-overrides(
    (
      outlined-container-color: #ffffff,
      outlined-outline-color: var(--color-gray-300),
    )
  );

  height: 100%;

  mat-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.cdk-placeholder {
  background: #ffd9e1;
  border: dashed 3px #9c1957;
  border-radius: 12px;
  min-height: 64px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-box {
  box-sizing: border-box;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-list.cdk-drop-list-dragging .cdk-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-list {
  display: inline-block;
  overflow: hidden;
}