<section class="flex items-center justify-center flex-wrap max-w-sm w-70 h-40">
  @if (previewUrls().length < limit) {
    <div class=" rounded-md text-center cursor-pointer" (click)="fileInput.click()">
    <div class="flex flex-col w-full items-center justify-center space-y-2">
      <button type="button" matButton="tonal" [disabled]="readonly">
        <mat-icon>attach_file</mat-icon>
        {{text}}
      </button>
    </div>

    <input #fileInput type="file" [multiple]="limit" accept="image/*" class="hidden" [disabled]="readonly" (change)="onFileSelected($event)" />
  </div>
  }

  <div class="flex flex-wrap gap-2 mt-4">
    @for (url of previewUrls(); track $index) {
    <div class="relative group">
      <img [src]="url" alt="Preview" class="h-30 object-cover rounded border" (click)="showFullPreview(url)" />
      <button
        type="button"
        [disabled]="readonly"
        [hidden]="readonly"
        class="cursor-pointer absolute top-0 right-0 bg-red-600 text-white text-xs rounded-bl px-2 py-1 opacity-0 group-hover:opacity-100 transition"
        (click)="removeImage($index)">
        ✕
      </button>
    </div>
    }
  </div>
</section>

@if (fullPreviewUrl && fullPreview) {
<div class="fixed inset-0 bg-[rgb(0_0_0_/_60%)] flex items-center justify-center z-100" (click)="closePreview()">
  <img [src]="fullPreviewUrl" class="absolute max-h-[60vh] object-contain rounded-4xl shadow-lg" alt="Preview grande" />
  <p>Nome: {{ getFileName(fullPreviewUrl) }}</p>
</div>
}
