<div class="px-[2%] md:px-[5%] xl:px-[10%]">
  <mat-card class="w-full p-6" appearance="outlined">

    <div class="flex justify-end items-center pb-4 gap-4">
      <button matButton="filled" (click)="openAddCategoryDialog()">
        <span class="text-md font-semibold">Adicionar Categoria</span>
      </button>
    </div>

    <div class="flex flex-col justify-between">
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        @if (accordionContentList$ | async; as accordionContentList) {
          @for (item of accordionContentList; track $index) {
            <div class="py-2" cdkDrag>
              <app-transparency-content [content]="item" (isUpdated)="loadAccordionContent()"/>
            </div>
          }
        } @else {
          <div class="py-2 animate-pulse">
            <div class="h-16 bg-gray-200 rounded-xl my-3"></div>
            <div class="h-16 bg-gray-200 rounded-xl my-3"></div>
            <div class="h-16 bg-gray-200 rounded-xl my-3"></div>
            <div class="h-16 bg-gray-200 rounded-xl my-3"></div>
            <div class="h-16 bg-gray-200 rounded-xl my-3"></div>
          </div>
        }
      </div>
    </div>    

  </mat-card>
</div>

<ng-template #addCategoryDialog>
  <app-dialog title="Adicionar Categoria">
    <ng-container dialogContent>
      <div [formGroup]="categoryForm" class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="accordionContentType.DOCUMENT">
              Documentos
            </mat-option>
            <mat-option [value]="accordionContentType.COLLABORATOR">
              Colaboradores
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input 
            matInput
            formControlName="name" 
            placeholder="Nome da categoria" 
          >
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container dialogConfirmButton>
      <button matButton="filled" (click)="onAddCategory()" [disabled]="!categoryForm.valid">
        <span class="text-lg font-semibold">Adicionar</span>
      </button>
    </ng-container>
  </app-dialog>
</ng-template>
